<%- include ('./header.ejs') %>
 <!--cotact Box Start-->
 <div class="container">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, 0.3)">
        <div class="row g-5 align-items-center">
          <div class="col-lg-6">
            <div class="con-img">
              <img
                src="https://www.shutterstock.com/image-photo/portrait-cheerful-young-manager-handshake-260nw-1312231271.jpg"
                alt="" class="w-100">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="mb-4">
              <h1 class="mb-3" style="font-size: 31px;
                        font-family: unset;">Contact With Our Certified Broaker</h1>
              <p>Eirmod sed ipsum dolor sit rebum magna erat. Tempor lorem kasd vero ipsum sit sit diam
                justo sed vero dolor duo.
              </p>
            </div>
            <a href="" class="btn btn-success py-3 px-4 me-2">
              <i class="fa fa-phone-alt me-2"></i>
              Make a Call
            </a>
            <button type="button" class="btn btn-dark py-3 px-5 ">
              <i class="fa fa-calendar-alt me-2"></i>
              Get Appoinment
            </button>

          </div>
        </div> <!--row end-->
      </div>
    </div>
  </div><!--container end-->
  <!--Contact Box End-->
  <!-- Team Start-->
  <div class="container">
    <div class="bg-light rounded p-3">
      <div class="bg-white rounded p-4" style="border: 1px dashed rgba(0, 185, 142, 0.3)">
        <div class="mb-5 justify-content-center" style="max-width: 600px;">
          <h1 class="mb-3">Broker Agents</h1>
          <p>
            Eirmod sed ipsum dolor sit rebum labore magna erat. Tempor ut dolore
            lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero
            dolor duo.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="team-item rounded overflow-hidden">
              <div class="position-relative">
                <img class="img-fluid" src="https://broker-portal.onrender.com/img/team-1.jpg" alt="" />
                <div class="position-absolute start-50 top-110 translate-middle d-flex align-items-center">
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="text-center p-4 mt-3">
                <h5 class="fw-bold mb-0">Kirti Goayal</h5>
                <small>Thatipur,Gwalior</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item rounded overflow-hidden">
              <div class="position-relative">
                <img class="img-fluid" src="https://broker-portal.onrender.com/img/team-1.jpg" alt="" />
                <div class="position-absolute start-50 top-110 translate-middle d-flex align-items-center">
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="text-center p-4 mt-3">
                <h5 class="fw-bold mb-0">Kirti Goayal</h5>
                <small>Thatipur,Gwalior</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item rounded overflow-hidden">
              <div class="position-relative">
                <img class="img-fluid" src="https://broker-portal.onrender.com/img/team-1.jpg" alt="" />
                <div class="position-absolute start-50 top-110 translate-middle d-flex align-items-center">
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="text-center p-4 mt-3">
                <h5 class="fw-bold mb-0">Kirti Goayal</h5>
                <small>Thatipur,Gwalior</small>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="team-item rounded overflow-hidden">
              <div class="position-relative">
                <img class="img-fluid" src="https://broker-portal.onrender.com/img/team-1.jpg" alt="" />
                <div class="position-absolute start-50 top-110 translate-middle d-flex align-items-center">
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-facebook-f"></i></a>
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-twitter"></i></a>
                  <a class="btn btn-square mx-1 bg-white" href=""><i class="fab fa-instagram"></i></a>
                </div>
              </div>
              <div class="text-center p-4 mt-3">
                <h5 class="fw-bold mb-0">Kirti Goayal</h5>
                <small>Thatipur,Gwalior</small>
              </div>
            </div>
          </div>
        </div> <!--row end-->
      </div><!--bg-white-->
    </div> <!--bg-light-->

  </div><!--container end-->
  <!--Borger agent end-->
<%- include ('./footer.ejs') %>